/* ==========================================================================
   Variables
   ========================================================================== */

:root {
  --bg-color: #b2b6b7;
  --fg-color: #e85212;
  --indent: 48px;
  --grid-color: cyan;
  --gap: 24px;
}





/* ==========================================================================
   helpers
   ========================================================================== */

.baseline {
  background-attachment: local;
  background-size: 100% 24px;
  background-position: 0 -1px;
  background-image: linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
}





/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
  font-family: 'karrik';
  src: url('../fonts/Karrik-Regular.woff2') format('woff2'), url('../fonts/Karrik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'karrik';
  src: url('../fonts/Karrik-Italic.woff2') format('woff2'), url('../fonts/Karrik-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
	font-family: 'compagnon';
	src: url('../fonts/Compagnon-Roman.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'latin_modern_roman10';
    src: url('../fonts/lmroman10-regular-webfont.woff2') format('woff2'), url('../fonts/lmroman10-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}





/* ==========================================================================
   General
   ========================================================================== */

:root {
  font-size: 18px;
  line-height: 24px;
}

/* html, */
/* body { overflow: hidden; } */

body {
  font-family: 'karrik', sans;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.015em;
  scroll-behavior: smooth;

  padding: 48px;
  max-width: 35em;
}

a {
  color: inherit;
  text-decoration: none;
}

a[href^="http"]::after {
    content: " ↗";
}

a:hover { color: var(--fg-color); }

li {
    list-style: disc;
}

h2 {
  /* font-size: 24px; */
  /* text-transform: uppercase; */
  /* position: relative; */
  /* bottom: 2px; */
    /* padding-left: 96px; */
    text-decoration: underline;
    margin-bottom: 24px;  
    margin-top: 48px;  
}

blockquote {
    padding-left: 96px;
    margin-bottom: 24px;
}

p + p {
    /* text-indent: 24px; */
    margin-top: 24px;
}


pre {
    /* margin-left: 48px; */
    border-left: 3px solid;
    padding-left: 21px;
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 17px;
    font-family: 'compagnon';
    white-space: pre-wrap;
    tab-width: 4;
    /* background-color: lightgrey; */
    /* padding: 12px; */ 
}





/* ==========================================================================
   Main layout
   ========================================================================== */

/* .page__background { */
/*   background-color: var(--bg-color); */
/*   background-image: url('../img/bg.png'); */
/*   z-index: -1; */
/*   position: fixed; */
/*   top: 0; */
/*   left: 0; */
/*   width: 100vw; */
/*   height: 100vh; */
/* } */

/* @keyframes star_left { */
/*   0 { left: 0px; } */

/*   50% { left: 100%; } */

/*   100% { left: 0px; } */
/* } */

/* @keyframes star_top { */
/*   0 { top: 0px; } */

/*   50% { top: 100%; } */

/*   0 { top: 0px; } */
/* } */

/* .page__star { */
/*   position: fixed; */
/*   z-index: 0; */
/*   top: 0; */
/*   left: 0; */
/*   transform: translate(calc(-1113px / 2), calc(-1345px / 2)); */
/*   width: 1113px; */
/*   animation: star_left 180s infinite linear, star_top 240s infinite linear; */
/* } */

/* .scroll .page__star { */
/*   /1* animation-play-state: paused; *1/ */
/*   /1* animation-duration: 6s, 9s; *1/ */
/* } */

/* .page__wrapper { */
/*   z-index: 1; */
/*   position: relative; */
/*   box-sizing: border-box; */
/*   height: 100vh; */
/*   overflow-y: auto; */
/*   padding: 24px; */
/*   scroll-behavior: smooth; */
/* } */

/* @media (min-width: 768px) { */
/*   .page__wrapper { */
/*     display: grid; */
/*     grid-template-columns: auto 1fr; */
/*     grid-column-gap: 24px; */
/*   } */
/* } */

/* .page__main { position: relative; margin-bottom: 96px;} */

/* .main-header { margin-bottom: 24px; } */

/* .main-header__title { */
/*   font-size: 24px; */
/*   text-transform: uppercase; */
/*   position: relative; */
/*   bottom: 2px; */
/* } */

/* .main-header__tagline { padding-left: var(--indent); } */

/* .main-nav { text-transform: uppercase; } */

/* @media (max-width: 767px) { */
/*   .sidebar { */
/*     display: grid; */
/*     grid-template-columns: auto 1fr; */
/*     grid-column-gap: 24px; */
/*   } */
/* } */

/* .sidebar { */
/*   position: sticky; */
/*   top: 0; */
/* } */




/* ==========================================================================
   Sections
   ========================================================================== */

/* .section { */
/*   box-sizing: border-box; */
/*   width: 100%; */
/* } */

/* .section + .section { */
/*   margin-top: calc(3 * 24px); */
/*   padding-top: 24px; */
/* } */





/* ==========================================================================
   Section info
   ========================================================================== */

/* @media (min-width: 1200px) { */
/*   .infos { */
/*     display: grid; */
/*     grid-template-columns: auto 1fr; */
/*     grid-column-gap: 24px; */
/*   } */

/*   .infos__practical { padding-top: calc(6 * 24px); } */
/* } */

/* .infos__dates { padding-bottom: calc(4 * 24px); } */

/* @media (max-width: 767px) { */
/*   .infos__practical { */
/*     margin-bottom: calc(2 * 24px); */
/*     padding-top: calc(2 * 24px); */
/*   } */
/* } */

/* .infos__practical { padding-bottom: 24px; } */

/* address { padding-left: var(--indent); } */

/* .infos__content p { max-width: 45em; } */

/* .infos__content p:nth-child(even) { padding-left: var(--indent); } */

/* .infos__content a { color: #333; } */

/* .infos__content a:hover { color: var(--fg-color); } */

/* .infos__content a:after { content: " ↗"; } */





/* ==========================================================================
   Section gallery
   ========================================================================== */

/* @media (min-width: 1200px) { */
/*   .wall { */
/*     display: grid; */
/*     grid-template-columns: auto 1fr; */
/*     grid-column-gap: 24px; */
/*   } */
/* } */

/* @media (max-width: 1199px) { */
/*   .filters { */
/*     column-width: 116px; */
/*     column-gap: 24px; */
/*   } */
/* } */

/* .filters { margin-bottom: 48px; } */

/* .is-active { color: var(--fg-color); } */

/* .filters li:hover { */
/*   color: var(--fg-color); */
/*   cursor: pointer; */
/* } */

/* .filters__filter--even { padding-left: var(--indent); } */

/* .grid { */
/*   position: sticky !important; */
/*   top: 1rem; */
/* } */

/* .grid-item { */
/*   float: left; */
/*   margin-right: 10px; */
/*   margin-bottom: 10px; */
/* } */

/* .grid-item a:hover img { outline: 3px solid var(--fg-color); } */





/* ==========================================================================
   Section capsules
   ========================================================================== */

/* .videos { */
/*   --gap: 24px; */
/*   display: flex; */
/*   flex-wrap: wrap; */
/*   gap: var(--gap); /1* row-gap column gap *1/ */
/* } */

/* /1* Tiny Mode is activated if the player is smaller than 300px wide or 169px tall. In Tiny Mode, the portrait, title, control bar, Vimeo logo, Like / Watch Later / Share buttons, and end screens are hidden. *1/ */
/* .videos__video { */
/*   flex-basis: calc((100% - ((1 - 1) * var(--gap))) / 1); */
/*   position: relative; */
/* } */

/* @media (min-width: 768px) { */
/*   .videos__video { */
/*     flex-basis: calc((100% - ((2 - 1) * var(--gap))) / 2); */
/*     position: relative; */
/*   } */
/* } */





/* ==========================================================================
   Modal and slideshow
   ========================================================================== */

/* @keyframes show_details { */
/*   from { left: 100vw; } */

/*   to { left: 0; } */
/* } */

/* .modal { */
/*   background-color: rgba(0, 0, 0, .85); */
/*   position: fixed; */
/*   width: 100vw; */
/*   height: 100vh; */
/*   display: none; */
/*   top: 0; */
/*   left: 100vw; */
/*   animation-name: show_details; */
/*   animation-duration: 1s; */
/*   padding: 24px; */
/*   box-sizing: border-box; */
/*   grid-template-rows: auto 1fr; */
/*   grid-row-gap: 24px; */
/* } */

/* .modal:target { */
/*   display: grid; */
/*   left: 0; */
/* } */

/* .modal__tools { */
/*   color: white; */
/*   text-align: right; */
/* } */

/* .modal__content { */
/*   width: 100%; */
/*   overflow: hidden; */
/* } */

/* .carousel { */
/*   height: 100%; */
/*   width: 100%; */
/* } */

/* .carousel-cell { */
/*   width: 100%; */
/*   height: 100%; */
/*   margin-right: 24px; */
/* } */

/* .carousel-cell img { */
/*   height: calc(100% - 48px); */
/*   width: 100%; */
/*   object-fit: contain; */
/* } */

/* .carousel-cell figcaption { */
/*   position: absolute; */
/*   bottom: 0; */
/*   color: white; */
/*   text-align: right; */
/*   width: 100%; */
/* } */





/* https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+bash+lua+python */
code[class*=language-],pre[class*=language-]{color:#ccc;background:0 0;font-family:'compagnon',Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;/*font-size:1em;*/text-align:left;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;/*line-height:1.5;*/-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}pre[class*=language-]{/*padding:1em;margin:.5em 0*/;overflow:auto}:not(pre)>code[class*=language-],pre[class*=language-]{background:#2d2d2d}:not(pre)>code[class*=language-]{padding:.1em;border-radius:.3em;white-space:normal}.token.block-comment,.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#999}.token.punctuation{color:#ccc}.token.attr-name,.token.deleted,.token.namespace,.token.tag{color:#e2777a}.token.function-name{color:#6196cc}.token.boolean,.token.function,.token.number{color:#f08d49}.token.class-name,.token.constant,.token.property,.token.symbol{color:#f8c555}.token.atrule,.token.builtin,.token.important,.token.keyword,.token.selector{color:#cc99cd}.token.attr-value,.token.char,.token.regex,.token.string,.token.variable{color:#7ec699}.token.entity,.token.operator,.token.url{color:#67cdcc}.token.bold,.token.important{font-weight:700}.token.italic{font-style:italic}.token.entity{cursor:help}.token.inserted{color:green}


